<header>
    <nav>
     	<header id="header">
		<nav>
			<div class="logo"><img src="../../images/icon/DIPLOMA_VAULT-removebg-preview.png" alt="shabbir"></div>
			<ul>
				<li><a routerLink="/">Home</a></li>
				<li><a routerLink="/portfolio">Portfolio</a></li>
				<li><a routerLink="/team">Team</a></li>
				<li><a routerLink="/services">Services</a></li>
				<li><a routerLink="/contact">Contact</a></li>
			  </ul>
			  
			<div class="srch"><input type="text" class="search" placeholder="Search here..."><img src="images/icon/search.png" alt="search" onclick=slide()></div>
			<a routerLink="/login">Get Started</a>
			<img src="images/icon/menu.png" class="menu" onclick="sideMenu(0)" alt="menu">
		</nav>
		<!-- <div class="side-menu" id="side-menu">
			<div class="close" onclick="sideMenu(1)"><img src="images/icon/close.png" alt=""></div>
			<div class="user">
				<img src="images/creator/roshan.jpeg" alt="Username">
				<p>roshank9419</p>
			</div>
			<ul>
				<li><a routerLink="/">Home</a></li>
				<li><a routerLink="/portfolio">Portfolio</a></li>
				<li><a routerLink="/team">Team</a></li>
				<li><a routerLink="/services">Services</a></li>
				<li><a routerLink="/contact">Contact</a></li>
				<li><a routerLink="/feedback">Feedback</a></li>
			  </ul>
			  
		</div> -->
	</header>
    </nav>
  </header>
  