<div class="diffSection" id="team_section">
  <p style="font-size: 50px; padding-top: 100px; padding-bottom: 60px;">We're the Creators</p>
  <div class="totalcard">
    <div class="card">
      <img src="./images/creator/Shabbir.jpg">
      <div class="card-title">Md Shabbir</div>
      <div id="detail">
        <p>“ You can teach a student a lesson for a day; but if you can teach him to learn by creating curiosity, he will continue the learning process as long as he lives “</p>
        <div class="duty"></div>
        <a href="https://www.linkedin.com/in/md-shabbir-803b891a3" target="_blank"><button class="btn-roshan">Follow +</button></a>
      </div>
    </div>
    <div class="card">
      <img src="./images/creator/Injar.png">
      <div class="card-title">Mohammad Injar</div>
      <div id="detail">
        <p>“ Real education should consist of drawing the goodness and the best out of our own students. What better books can there be than the book of humanity “</p>
        <div class="duty"></div>
        <a href="https://www.linkedin.com/in/md-shabbir-803b891a3" target="_blank"><button class="btn-akhil">Follow +</button></a>
      </div>
    </div>
    <div class="card">
      <img src="">
      <div class="card-title">Mohammad Ovais</div>
      <div id="detail">
        <p>“ Real education should consist of drawing the goodness and the best out of our own students. What better books can there be than the book of humanity “</p>
        <div class="duty"></div>
        <a href="https://www.linkedin.com/in/md-shabbir-803b891a3" target="_blank"><button class="btn-akhil">Follow +</button></a>
      </div>
    </div>
  </div>
</div>